<div class="container-box">
  <nav class="navbar w-100">

    <div class="nav-item">
      <a class="nav-link-logo t-c" [routerLinkActive]="'active'" [routerLink]="'/about-project'">
        <img class="logo" src="{{path_logo}}" alt="logo">
        <div class="t-min bold gray">Coursio</div>
      </a>
    </div>

    <div class="nav-item hide-mobile">
      <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="'/profile'">Профіль</a>
      <!-- <div class="statusCount"><i class="fa-solid fa-circle accent"></i></div> -->
    </div>

    <div class="nav-item hide-mobile">
      <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="'/сourses/name'">Предмети</a>
      <!-- <div class="statusCount"><i class="fa-solid fa-circle accent"></i></div> -->
    </div>

    <div class="switch-btn-group">
      <div class="dropdown nav-item">
        <a class="dropdown-toggle nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-magnifying-glass pr-2"></i>Реєстрація
        </a>
        <ul class="dropdown-menu">
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLink]="'/auth/registration'">
            <i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i>
            <div class="flex-column">
              <div class="t-med t-s">Реєстрація</div>
              <div class="t-min t-s">аккаунту</div>
            </div>
          </a>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLink]="'/auth/login'">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <div class="flex-column">
              <div class="t-med t-s">Вхід</div>
              <div class="t-min t-s">в аккаунт</div>
            </div>
          </a>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLink]="'/auth/change-password'">
            <i class="fa-solid fa-user-secret"></i>
            <div class="flex-column">
              <div class="t-med t-s">Зміна</div>
              <div class="t-min t-s">Паролю</div>
            </div>
          </a>
        </ul>
      </div>
    </div>

  </nav>

</div>
