<div class="content">
  <div class="card" [@top1]>
    <img src="../../../assets/logo/logo.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Назва предмету <strong>Алгебра</strong> </h5>
      <p class="card-text mt-2 gray">Короткий опис предмету та його призначення.</p>
      <button [routerLinkActive]="'active'" [routerLink]="'/сourses/topic'" class="btn w-100 mt-2">Обрати
        предмет</button>
    </div>
  </div>

  <div class="card" [@top1]>
    <img src="../../../assets/logo/logo.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Назва предмету <strong>Геометрія</strong> </h5>
      <p class="card-text mt-2 gray">Короткий опис предмету та його призначення.</p>
      <button [routerLinkActive]="'active'" [routerLink]="'/сourses/topic'" class="btn w-100 mt-2">Обрати
        предмет</button>
    </div>
  </div>
</div>
