<div class="content">
  <div class="card" [@top1]>
    <img src="../../../assets/logo/logo.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Курс 8-го класу</h5>
      <p class="t-min mt-2 gray">Короткий опис курсу.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="#" class="card-link">Перша тема</a></li>
      <li class="list-group-item"><a href="#" class="card-link">Друга тема</a></li>
      <li class="list-group-item"><a href="#" class="card-link">Третя тема</a></li>
    </ul>
    <div class="card-body">
      <button class="btn w-100">Якась дія</button>
    </div>
  </div>
  <div class="card" [@top1]>
    <img src="../../../assets/logo/logo.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Курс 9-го класу</h5>
      <p class="t-min mt-2 gray">Короткий опис курсу.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="#" class="card-link">Перша тема</a></li>
      <li class="list-group-item"><a href="#" class="card-link">Друга тема</a></li>
      <li class="list-group-item"><a href="#" class="card-link">Третя тема</a></li>
    </ul>
    <div class="card-body">
      <button class="btn w-100">Якась дія</button>
    </div>
  </div>
</div>
